button {
    font-family: sans-serif;
    font-weight: bold;
  
    background-color: #fff;
    color: #777;
    border-radius: 100px;
    border-color: #eeeeee;
    z-index: -1;
    padding: 15px 40px;
    display: inline-block;
  
    animation: moveInBottom 5s ease-out;
    animation-fill-mode: backwards;
}